ARTIFACTS_DIR=./model_artifacts
MODEL_FILE=./model_artifacts/model.pkl
HEATMAP_INFERENCE_CONFIG=./model_artifacts/heatmap_inference_config.json
HEATMAP_FILE=./model_artifacts/heatmap_predictions_test_agg.csv
CORS_ORIGINS=http://localhost:5173
